{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-new-func": "error",
        "func-style": "error",
        "prefer-template": "error",
        "quotes": ["error", "single"],
        "comma-dangle": ["error", "always-multiline"],
        "semi": "error",
        "eol-last": "error",
        "no-extend-native": "error"
    }
}